@model WebApplication4.Models.User

@{
    ViewBag.Title = "AdminEmail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Send all users Email</h2>


<html>
<body>
    @using (Html.BeginForm("SendAllUsersEmail", "Admin", FormMethod.Post, Model))
    {
        @Html.TextArea("emailBody", new { @class = "form-control", @rows = 20, @columns = 10 })
        <br />
        @Html.TextBox("button", "Send Email", new { Type = "submit" })
        <hr />
    }
</body>
@Html.ActionLink("Back To Home", "Index", "Home", Model, null)
</html>
