@model WebApplication4.Models.User

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<style>
    table, th, td {
        border: 1px solid black;
        border-style: double;
    }

    th, td {
        background-color: #DCDCDC;
        padding: 5px;
    }
</style>
<div>

    <hr />
    <dl class="dl-horizontal">
        <body>
            <h2>Home Page</h2>

            <label>Welcome </label>
            <br />
            <table style="width:100%">
                <thread>
                    <tr>
                        <th> Id </th>
                        <th> Username </th>
                        <th> Email </th>
                    </tr>
                </thread>
                <tbody>
                    @foreach (var item in Model.UserList)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
        </body>



</div>



