
@{
    ViewBag.Title = "ForgotPasswordSent";
}

<h2>If there is an account with that username an email has been sent with the password</h2>

<div>
    @Html.ActionLink("Back to Login", "Login")
</div>
