@model WebApplication4.Models.User

@{
    ViewBag.Title = "RatingDone";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Rating Done</h2>

@Html.ActionLink("Back to Vet home", "Vet", "Vet", Model, null)