@model WebApplication4.Models.User

@{
    ViewBag.Title = "PetAdded";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@using (Html.BeginForm("PetAdded", "Pet", Model))

{<div>

        <hr />
        <dl class="dl-horizontal">

            <h2>Pet Added</h2>
            <body>
                <br />
                @Html.ActionLink("Back To Home", "Index", "Home", Model, null)
                <br />
            </body>
            <br />


        </dl>
    </div>
   

}

