
@{
    ViewBag.Title = "Home";
}

<h2>PetsaGram</h2>

<body>
    <h4>Welcome to PetsaGram</h4>
    <br />
    @Html.ActionLink("Click here to Log in", "Login", "Account")
    <br />
    <br />
    @Html.ActionLink("Click here to Create a new account", "Create", "Account")

</body>